div{
    box-sizing: border-box;
  }
  
  @mixin gear() {
    transform-origin: 50% 50%;
    animation-duration : 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    border:none;
  }
  
  .gearPosition{
    position:fixed;
    width: 15vw;
    height: 15vw;
    bottom:0;
    z-index: 3;
    .gearContainer{
      width: 100%;
      height: 100%;
      position: relative;
      .leftGear{
        @include gear();
        animation-name : leftGearAnimation;
        font-size: 10vw;
        left: 3%;
        color: rgb(51, 31, 9);
      }
      
      .rightGear{
        @include gear();
        animation-name : rightGearAnimation;
        font-size:6vw;
        bottom: 3%;
        right:0;
        color: rgb(107, 104, 98)  
      }
      &::after{
        content: "";
        clear:both;
        display: block;
      }
    }
    
  }
  
  @keyframes leftGearAnimation {
    100% {
      transform:rotate(360deg);
    }
  }
  
  @keyframes rightGearAnimation {
    100% {
      transform:rotate(-360deg);
    }
  }
  
  @media screen and (min-width:768px) {
    .gearPosition{
      width: 11vw;
      height: 11vw;
      .gearContainer{
        .leftGear{
          font-size: 8vw;
        }
        .rightGear{
          font-size: 4vw;
        }
      }
    }
  }