@mixin overlayEffect(){
  width:100%;
  height: 100%;
  position: absolute;
  background-color: rgb(48, 28, 17);
  opacity: 0.4;
}

.openIcon{
  z-index: 28;
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: rgb(88, 118, 252);
  color: rgb(218, 203, 203);
  border-radius: 50%;
  font-size: 50px;
  opacity: 0.5;
  &:hover{
    cursor: pointer;
  }
  display: none;
}
.menu{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 30;
  transform: translateX(100vw);
  transition: all 0.5s;
  .menuBar{
    z-index: 29;
    position: absolute;
    right: 0;
    width:70%;
    height: 100%;
    background-color: #f1d4ad; 
    padding-top: 5vw;
    padding-right: 10vw;
    .menuContent{
      width: 100%;
      height: 100%;
      position: relative;
      .closeIcon{
        color: rgb(88, 118, 252);
        opacity: 0.5;
        position: fixed;
        right: 40px;
        top: 20px;
        font-size: 50px;
        &:hover{
          cursor: pointer;
        }
      }
      ul{
        width:80%;
        height:12vw;
        overflow: hidden;
        margin-top: 50px;
        list-style: none;
        transition: all 1s;
        li{
          span{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            text-align: center;
            line-height: 12vw;
            font-size: 24px;
            transition: all 1s;
          }
        }
        &:hover{
          cursor: pointer;
        } 
       
      } 
      .down{
        height:60vw;
      }
    }
  }
  .overlay{
    @include overlayEffect();
  }
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}


.showMenu{
  transform: translateX(0vw);
}




.navBar{
    margin-top: 50px;
    width: 100%;
    background-color: orange;
    height: 4rem;
    display: flex;
    transition: all 1s;
    overflow: hidden;
    .navContent{
      width: 100%;
      flex-grow: 1;  
      ul{
        width:100%;
        list-style: none;
        margin:0;
        padding:0;
        li{
          width: 100%;
          text-align: center;
          border-top:3px solid rgb(245, 244, 184);
          background-color: rgb(243, 195, 105);
          color:rgb(108, 110, 112);      
          span{
            line-height:4rem;
            vertical-align: middle;
            display: inline-block;
            font-weight: 500;
            font-size: 1rem;
            transition: all 1s;
            &:hover{
              transform: scale(1.2);
              cursor: pointer;
            } 
          }
        }
        li:nth-child(1){
          border-top:none;
        }
      }
    }
  }
@media screen and (max-width:768px){
  .openIcon{
    display: inline-block;
  }
  .navBar{
    height: 5vh;
      .navContent{
          display: none;
      }
  }
}

@media screen and (min-width:768px){
  .menu{
    display: none;
  }
  .navBar{
      &:hover{
        height: 20.5rem;
      }
  }
}
