body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.middle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listContainer {
  width: 100%;
  padding: 10px;
}
.listContainer ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.listContainer ul li {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.listContainer ul li span {
  display: inline-block;
  padding: 0 10%;
  color: aliceblue;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  transition: all 1s;
}
.listContainer ul li span:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navBar {
  margin-top: 50px;
  width: 100%;
  height: 8vh;
  background-color: orange;
  display: flex;
  align-items: center;
}

.container1 {
  width: 100%;
  height: 600px;
  position: relative;
}
.container1 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(48, 28, 17);
  opacity: 0.4;
}
.container1 .mainBg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../public/imgs/img1.jpg");
  background-size: 100% 100%;
}
.container1 .mainText {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
}
.container1 .mainText p {
  margin: 0 auto;
  font-size: 6vw;
  color: rgb(222, 226, 230);
  text-shadow: 0px 8px 5px rgb(0, 0, 0);
  font-family: "Gugi", cursive;
  transition: all 1s;
}
.container1 .mainText p:hover {
  transform: scale(1.1);
}
.container1::after {
  content: "";
  display: block;
  clear: both;
}

.postBox {
  margin-top: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
  height: 80vh;
  background-color: rgb(231, 221, 221);
}

.container2 {
  width: 100%;
  height: 600px;
  position: relative;
  transition: all 1s;
}
.container2 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(48, 28, 17);
  opacity: 0.4;
}
.container2 .subBg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../public/imgs/img2.jpg");
  background-size: 100% 100%;
}

.container3 {
  width: 100%;
  height: 100%;
  padding: 10vw;
  position: absolute;
}

.animation {
  background-color: rgb(236, 240, 243);
  box-shadow: 0px 10px 30px rgb(44, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation div {
  width: 100%;
  height: 100%;
  display: none;
}
.animation .video {
  width: 100%;
  height: 100%;
  display: none;
  -o-object-fit: fill;
     object-fit: fill;
}
.animation .show {
  display: block;
}

.start {
  -webkit-animation-name: animationScreen;
          animation-name: animationScreen;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes animationScreen {
  0% {
    width: 0%;
    height: 10%;
  }
  50% {
    width: 100%;
    height: 10%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes animationScreen {
  0% {
    width: 0%;
    height: 10%;
  }
  50% {
    width: 100%;
    height: 10%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.moveRight {
  width: 100%;
}

.moveDown {
  height: 100%;
}

.animationButton {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 10vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animationButton span {
  flex-grow: 0.5;
  width: 12vw;
  padding: 1vw;
  font-size: 4vw;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5vw;
  text-align: center;
  transition: all 1s;
}
.animationButton span:hover {
  cursor: pointer;
  transform: scale(1.2);
}/*# sourceMappingURL=App.css.map */