
body{
  margin: 0;
  padding: 0;

}

div{
  box-sizing: border-box;
}

$mainHeight: 600px;

@mixin container() {
  width: 100%;
  position: relative;
}

@mixin overlayEffect(){
  width:100%;
  height: 100%;
  position: absolute;
  background-color: rgb(48, 28, 17);
  opacity: 0.4;
}
.container1{
  @include container();
  height: 600px;
  .overlay{
    @include overlayEffect();
  }
  .mainBg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../public/imgs/img1.jpg");
    background-size: 100% 100%;
  }
  .mainText{
    position: absolute;
    width: 100%;
    height: 100%;
    margin:auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      margin:0 auto;
      font-size: 4rem;
      color: rgb(222, 226, 230);
      text-shadow: 0px 8px 5px rgb(0, 0, 0);
      font-family: 'Gugi', cursive;
      transition: all 1s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

.postBox{
  width: 100%;
  height: 500px;
  margin-top: 70px;
  padding:1px;
  padding-left:50px;
  padding-right: 50px;
  background-color : rgb(231, 221, 221);
}

.container2{
  @include container();
  height:800px;
  margin-top: 70px;
  .overlay{
    @include overlayEffect();
  }
  .subBg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../public/imgs/img2.jpg");
    background-size:100% 100%;  
  }
  .container3{
    width: 100%;
    height: 90%;
    padding:5vw;
    position: absolute;
    .animation{
      background-color: rgb(236, 240, 243);
      box-shadow: 0px 10px 30px rgb(44, 42, 42);
      position: relative;
      div{
        width: 100%;
        height: 100%;
        display: none;
      }
      .video{
        position: absolute; 
        object-fit: contain;
        display: none;
      }
      .show{
        display: block;
      }
    }
    .start{
      animation-name: animationScreen;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
  }
  .animationButton{
    bottom: 0px;
    position:absolute;
    width:100%;
    height:10%;
    margin-bottom: 3%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    span{
      flex-grow: 0.5;
      width: 12vw;
      padding: 1vw;  
      font-size: 4vw;
      background-color: transparent;
      color: aliceblue;
      border: 1px solid aliceblue;
      border-radius: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity:0.5;
      transition: all 1s;
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
  &::after{
    content: "";
    clear:both;
    display: block;
  }
}

@keyframes animationScreen {
  0%{
    width:0%;
    height:10%;
  }
  50%{
    width:100%;
    height:10%;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}

@mixin object {
  width: 25vw;
  height: 25vw;
  position:absolute;
  display: none;
}


@mixin spanStyle() {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  padding: 1vw;
}




.container4{
  @include container();
  width: 100vw;
  height:50vw;
  padding:1px;
  margin-top: 70px;
  .object1{
    @include object();
    height:6vw;
  }
  .object2{
    @include object();
    width:6vw;
    bottom: 20%;
    right: 0;
  }
  .object3{
    @include object();
    right: 15%;
    background-color: rgb(127, 104, 211);
    opacity: 0;
    transform: translate(-29vw, 19vw);
  }
  

  .animation1{
    display: block;
    animation-name: objectAnimation1; 
    background-color: aqua;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  .animation2{
    display: block;
    animation-name: objectAnimation2;
    background-color: rgb(221, 233, 55);
    animation-duration: 3s;
    animation-fill-mode: forwards;


  }
  .animation3{
    display: block;
    animation-duration: 3s;
    animation-name: objectAnimation3;
    animation-fill-mode: forwards;

  }

  .list{
    width:25vw;
    position:absolute;
    right: 20vw;
    top:30%;
    ul{
      width:100%;
      list-style: none;
      margin: auto;
      li{
        width: 100%;
        padding : 1vw;
        transition: all 0.3s ease-in-out;
        span{
          @include spanStyle();
          text-align: center;
          font-family: 'Gugi', cursive;
          background-color: rgb(234, 254, 255);
          transform: translateX(100vw);
          transition: all 1s ease-in-out;
          font-size: 3vw;
          border-radius: 100px;
        }
        .show{
          transform: translateX(0vw);
        }
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  &::after{
    content: "";
    clear:both;
    display: block;
  }
}



.container5{
  @include container();
}


@keyframes objectAnimation1 {
  0%{
    transform: translateY(5vw) skewX(45deg);
  }
  50%{
    transform: translate(28vw, 5vw) skewX(45deg);
  }
  100%{
    transform: translate(28vw, 12vw) skewX(45deg);
  }
}

@keyframes objectAnimation2 {
  0%{

  }
  50%{
    transform: translateX(-70vw) skewY(45deg);
  }
  100%{
    transform: translate(-70vw, 1vw) skewY(45deg);
  }
}

@keyframes objectAnimation3 {
  0%{

  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}




@media screen and (max-width:576px){
  .container1{
    .mainText{
      p{
        font-size: 3rem;
      }
    }
  }
  .container2{
    height: 400px;
  }

  .container4{
    .list{
      right: 20vw;
    }
  }
}

@media screen and (min-width:576px) {
  .container2{
    height: 500px;
  }
}
@media screen and (min-width:768px) {
  .container2{
    height: 600px;
  }
}
@media screen and (min-width:1200px) {
  .container2{
    height: 700px;
  }
}
@media screen and (min-width:1440px) {
  .container2{
    height: 800px;
  }
}
@media screen and (min-width:1920px) {
  .container2{
    height: 1000px;
  }
}

