
body{
  margin: 0;
  padding: 0;

}

div{
  box-sizing: border-box;
}

$mainHeight: 600px;

@mixin container() {
  width: 100%;
  height : 50vw;
  position: relative;
}

@mixin overlayEffect(){
  width:100%;
  height: 100%;
  position: absolute;
  background-color: rgb(48, 28, 17);
  opacity: 0.4;
}
.container1{
  @include container();
  .overlay{
    @include overlayEffect();
  }
  .mainBg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../public/imgs/img1.jpg");
    background-size: 100% 100%;
  }
  .mainText{
    position: absolute;
    width: 100%;
    margin:auto;
    text-align: center;
    p{
      margin:0 auto;
      font-size: 6vw;
      color: rgb(222, 226, 230);
      text-shadow: 0px 8px 5px rgb(0, 0, 0);
      font-family: 'Gugi', cursive;
      transition: all 1s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}


.middle{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postBox{
  width: 100%;
  height: 60vh;
  margin-top: 10vh;
  padding:1px;
  padding-left:5vw;
  padding-right: 5vw;
  background-color : rgb(231, 221, 221);
}

.container2{
  @include container();
  margin-top:10vh;
  .overlay{
    @include overlayEffect();
  }
  transition: all 1s;
  .subBg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../public/imgs/img2.jpg");
    background-size: 100% 100%;  
  }
  .container3{
    width: 100%;
    height: 100%;
    padding : 10vw;
    position: absolute;
    .animation{
      background-color: rgb(236, 240, 243);
      box-shadow: 0px 10px 30px rgb(44, 42, 42);
      position: relative;
      div{
        width: 100%;
        height: 100%;
        display: none;
      }
      .video{
        position: absolute; 
       
        display: none;
        object-fit: fill;
      }
      .show{
        display: block;
      }
    }
    .start{
      animation-name: animationScreen;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-duration: 4s;
      animation-fill-mode: forwards;
    }
  }
  .animationButton{
    bottom: 0;
    position:absolute;
    width:100%;
    height:10vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    div{
      flex-grow: 1;
    }
    span{
      flex-grow: 0.5;
      width: 12vw;
      padding: 1vw;
      font-size: 4vw;
      background-color: transparent;
      color: aliceblue;
      border: 1px solid aliceblue;
      border-radius: 5vw;
      text-align: center;
      opacity:0.5;
      transition: all 1s;
      &:hover{
        cursor: pointer;
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }
  &::after{
    content: "";
    clear:both;
    display: block;
  }
}

@keyframes animationScreen {
  0%{
    width:0%;
    height:10%;
  }
  50%{
    width:100%;
    height:10%;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}

@mixin object {
  width: 25vw;
  height: 25vw;
  position:absolute;
  display: none;
}


@mixin spanStyle() {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  padding: 1vw;
}




.container4{
  @include container();
  width: 100vw;
  padding:1px;
  .object1{
    @include object();
    height:6vw;
    top:10%;
  }
  .object2{
    @include object();
    width:6vw;
    bottom: 10%;
    right: 0;
  }
  .object3{
    @include object();
    right: 10%;
    background-color: rgb(127, 104, 211);
    opacity: 0;
    transform: translate(-29vw, 28vw);
  }
  

  .animation1{
    display: block;
    animation-name: objectAnimation1; 
    background-color: aqua;
    animation-duration: 5s;
    animation-fill-mode: forwards;


  }
  .animation2{
    display: block;
    animation-name: objectAnimation2;
    background-color: rgb(221, 233, 55);
    animation-duration: 5s;
    animation-fill-mode: forwards;


  }
  .animation3{
    display: block;
    animation-duration: 5s;
    animation-name: objectAnimation3;
    animation-fill-mode: forwards;

  }

  .list{
    width:25vw;
    position:absolute;
    right: 13vw;
    top:50%;
    ul{
      width:100%;
      list-style: none;
      margin: auto;
      li{
        width: 100%;
        padding : 1vw;
        transition: all 1s;
        span{
          @include spanStyle();
          text-align: center;
          background-color: rgb(234, 254, 255);
          transform: translateX(100vw);
          transition: all 1s;
          font-size: 3vw;
          border-radius: 100px;
        }
        .show{
          transform: translateX(0vw);
        }
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  &::after{
    content: "";
    clear:both;
    display: block;
  }
}



.container5{
  @include container();
}


@keyframes objectAnimation1 {
  0%{

  }
  50%{
    transform: translateX(33vw) skewX(45deg);
  }
  100%{
    transform: translate(33vw, 16vw) skewX(45deg);
  }
}

@keyframes objectAnimation2 {
  0%{

  }
  50%{
    transform: translateX(-65vw) skewY(45deg);
  }
  100%{
    transform: translate(-65vw, 5vw) skewY(45deg);
  }
}

@keyframes objectAnimation3 {
  0%{

  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}




@media screen and (max-width:576px){
  .container2{
    height: 400px;
    .container3{
      padding:0;
      padding-bottom: 10vw;
    }
  }

  .container4{
    .list{
      right: 20vw;
    }
  }
}

@media screen and (min-width:576px){
  .container2{
    height: 500px;
  }
}

@media screen and (min-width:768px){
  .container2{
    height: 600px;
  }
}
@media screen and (min-width:998px){
  .container2{
    height: 700px;
  }
}
@media screen and (min-width:1200px){
  .container2{
    height: 850px;
  }
}
@media screen and (min-width:1440px){
  .container2{
    height: 1000px;
  }
}
@media screen and (min-width:1680px){
  .container2{
    height: 1250px;
  }
}